/*Idea is to have multiple pages attached this style sheet. Some selectors will remain constant across all pages (i.e. .description and .example) but some will change depending on the topic; element, attribute, value, and property classes are going to vary from page to page.*/

/********************** GOBAL ********************/

/*Background color for entire webpage*/
html{
	background-color: orange;
}
/*highlight key terms in paragraphs*/
em{
	color: blue;
}


/********************** TITLE ********************/

.title{
	display: flex;
}
 /*Links*/

a:link {

	text-decoration: none;
	color: white;
	
}

.links  {
	display: flex;
	flex-direction: row;
	gap:5px;

}
.headings {
	display: flex;
}

/********************** BODY ********************/



.info-table {
	display: grid;
	grid-template-columns: 200px 1fr 1fr;
	row-gap: 10px;
	column-gap: 5px;
	margin-left: 10px;
}

/*
.definition {
	display: flex;
	flex-flow: wrap;	
}

.definition > div  {
	width: 100px;
	line-height: 25px;
	margin: 10px;
	background-color: white;
}

.definition > div:hover{
	background-color: red;
}
	*/

/********************** FOOTER ********************/	